body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.container a {
  text-decoration: none;
}

.site-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

/* .site-navigation a:visited {
  color: #766357;
} */

.slogan {
  width: 100%;
  height: 564px;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.feature-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.motive {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.motive h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.more-feature {
  background-color: #eeeeee;
}

.search {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 568px;
  height: 86px;
  background-color: #766357;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.search:hover {
  background-color: #604e43;
}

.search:focus {
  background-color: #503e33;
  color: #928a85;
}

.search-hotel {
  font-family: "PT Sans", 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.search-hotel input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.search-hotel input[type="number"]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.appointment input[type="text"] {
  width: 346px;
  height: 38px;
  background-color: rgb(242, 242, 242);
  border: none;
}

.appointment input[type="number"] {
  width: 114px;
  height: 38px;
  background-color: rgb(242, 242, 242);
  border: none;
}

.appointment input:hover {
  background-color: #ebebeb;
}

.appointment input:focus {
  background-color: #ffffff;
}

.calendar-button {
  background-color: transparent;
  border: none;
  outline: transparent;
}

.calendar-button {
  fill: rgb(202, 202, 202);
}

.calendar-button:hover {
  fill: rgb(0, 0, 0);
}

.calendar-button:active {
  fill: rgb(129, 179, 210);
}

.minus {
  background-image: url("../img/minus.png");
  background-size: 11px, 11px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: center center;
  border: none;
  text-indent: -9999px;
  padding-left: 20px;
  padding-right: 20px;
  height: 38px;
  cursor: pointer;
}

.plus {
  background-image: url("../img/plus.png");
  background-size: 11px, 11px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: center center;
  border: none;
  text-indent: -9999px;
  padding-left: 20px;
  padding-right: 20px;
  height: 38px;
  cursor: pointer;
}

.plus,
.minus:hover,
.plus,
.minus:focus {
  color: rgb(0, 0, 0);
}

.found  {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.found:hover {
  background-color: #669ec0;
}

.found:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.hashtag {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social-list li {
  list-style: none;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.button-tw {
  background-image: url("../img/twitter.svg");
}

.button-fb {
  background-image: url("../img/fb-icon.svg");
}

.button-yt {
  background-image: url("../img/youtube.svg");
}

.social-button {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0px;
  line-height: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover,
.social-button:focus {
  background-color: rgb(102, 158, 192);
}

.social-button:active {
  opacity: 0.3;
  background-color: rgb(84, 150, 189);
}

.button-academy {
  width: 115px;
}

.button-academy svg {
  width: 115px;
  height: 41px;
}

.button-academy:hover svg path {
  fill: #81b3d2;
}

.button-academy:active svg path {
  fill: #bdbbbc;
}

.filter-form {
  width: 100%;
  height: 100%;
  background-image: url("../img/filterbackground.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter-hotel-search {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.filter-price {
  width: 220px;
  height: 32px;
  background-color: transparent;
  border: 2px solid #ffffff;

}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter-form fieldset {
  border: none;
}

.filter-infrastructure,
.filter-type,
.sort-by {
  list-style: none;
}

.filter-infrastructure input[type="checkbox"] {
  display: none;
}

.filter-infrastructure label {
  padding-left: 17px;
  position: relative;
  cursor: pointer;
}

.filter-infrastructure label:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -30px;
  background-image: url("../img/checkbox-off.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-infrastructure input[type="checkbox"]:checked ~ label:before {
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.result p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort p {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sort a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #dadada;
  border-bottom: 1px dashed rgb(129, 179, 210);

}

.btn-show {
  width: 137px;
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-show:hover {
  background-color: #ffffff;
  color: #000000;
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.sort-result svg path {
  fill: #cacaca;
}

.sort-result svg path:hover {
  fill: #000000;
}

.sort-result svg path:focus,
.sort-result svg path:active {
  fill: #81b3d2;
}

.details-btn {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.details-btn:hover {
  background-color: #669ec0;
}

.details-btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.booking-btn {
  width: 142px;
  height: 27px;
  font-size: 14px;
  font-family: "PT Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
  background-color: #766357;
  border: none;
}

.booking-btn:hover {
  background-color: #604e43;
}

.booking-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.hotel-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: center;
  color: #666666;
}

.hotel-info h3 {
  color: #000000;
}

.hotel-info h3:hover {
  color: #81b3d2;
}

.hotel-info h3:active {
  color: #cacaca;
}
