/* Всем */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #f2f2f2;
}

/* Скрыть все элементы */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Контейнер */
.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/* Хедер */
.main-header {
  position: relative;
  min-height: 564px;
  background-image: url("../img/bg-index.jpg");
  background-repeat: no-repeat;
  background-position: center -27px;
  background-size: cover;
}

.header-hotels {
  min-height: 0;
  background-image: none;
}

.main-header-logo {
  width: 138px;
  height: 70px;

  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0;
}

.main-navigation {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: gray;
}

.main-navigation li {
  width: 240px;
  height: 56px;
  text-transform: uppercase;
  text-align: center;
  line-height: 56px;
}

.main-navigation li:first-child {
  padding-right: 4px;
}

.main-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 4px;
}

.main-navigation li:nth-child(3) {
  margin-left: auto;
}

.main-navigation li:last-child {
  padding-left: 17px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation-current a {
  color: #766357;
}

/* Контент */
.slogan {
  margin-top: 75px;
  text-align: center;
}

.slogan::after {
  content: "";
  position: absolute;
  top: 508px;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/mask.png");
}

.intro-title {
  padding-left: 1px;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 27px;
}

.intro-description {
  font-weight: 400;
  margin-bottom: 51px;
}

.feature {
  display: flex;
  background-color: #81b3d2;
}

.feature span {
  display: block;
  text-align: center;
  padding-bottom: 5px;
}

.feature-description {
  width: 400px;
  padding-top: 26px;
  padding-right: 60px;
  padding-bottom: 0;
  padding-left: 60px;
  color: #ffffff;
}

.feature img {
  display: block;
}

.promote-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.promote-item {
  width: 33.33%;
  padding-top: 140px;
  padding-right: 50px;
  padding-bottom: 64px;
  padding-left: 50px;
}

.promote-item-house {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 60px;
}

.promote-item-food {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 60px;
}

.promote-item-souvenirs {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 56px;
}

.feature-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #eeeeee;
}

.feature-list-item {
  width: 33.33%;
  padding-top: 25px;
  padding-right: 63px;
  padding-bottom: 43px;
  padding-left: 62px;
}

.appointment {
  position: relative;
}

.appointment h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-right: 11px;
}

.appointment-info {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 45px;
}

.search {
  font-size: 21px;
  font-weight: bold;
  width: 568px;
  height: 86px;
  background-color: #766357;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}

.search:hover {
  background-color: #604e43;
}

.search:focus {
  background-color: #503e33;
  color: #928a85;
}

.search-hotel {
  width: 568px;
  padding: 55px;
  padding-top: 56px;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  margin-left: -285px;
  z-index: 1;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-hotel input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding-left: 12px;
}

.date-choice  {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}

.date-choice input {
  width: 346px;
  height: 38px;
  background-color: rgb(242, 242, 242);
  border: none;
}

.search-hotel label {
  margin-right: 20px;
}

.appointment input:hover {
  background-color: #ebebeb;
}

.appointment input:focus {
  background-color: #ffffff;
}

.calendar-button {
  background-color: transparent;
  border: none;
  outline: transparent;
  position: absolute;
  right: 9px;
  top: 5px;
}

.calendar-button {
  fill: rgb(202, 202, 202);
}

.calendar-button:hover {
  fill: rgb(0, 0, 0);
}

.calendar-button:active {
  fill: rgb(129, 179, 210);
}

.form-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.form-control-peoples {
  display: flex;
}

.form-control-peoples label {
  margin-right: 41px;
  line-height: 38px;
}

.form-counter {
  display: flex;
}

.form-counter input {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  box-shadow: none;
  border: none;
}

.form-counter-btn-minus {
  width: 38px;
  height: 38px;
  background-image: url("../img/minus.png");
  background-size: 11px, 11px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: center center;
  border: none;
  text-indent: -9999px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.form-counter-btn-plus {
  width: 38px;
  height: 38px;
  background-image: url("../img/plus.png");
  background-size: 11px, 11px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: center center;
  border: none;
  text-indent: -9999px;
  padding-left: 20px;
  padding-right: 20px;
  height: 38px;
  cursor: pointer;
}

.form-counter-btn-plus:hover,
.form-counter-btn-minus:hover
.form-counter-btn-plus:focus,
.form-counter-btn-minus:focus {
  color: rgb(0, 0, 0);
}

.found  {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.found:hover {
  background-color: #669ec0;
}

.found:active {
  background-color: #5496bd;
  color: #94b9d2;
}

/* Футер */
.main-footer {
  position: relative;
}

.footer-container {
  display: flex;
  padding-bottom: 33px;
  padding-top: 23px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(256, 256, 256, .8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hashtag {
  font-size: 21px;
  padding-left: 29px;
  margin-bottom: 5px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.footer-social {
  padding-right: 20px;
}

.social-list {
  display: flex;
  flex-direction: row;
}

.social-list li {
  list-style: none;
  margin-left: 7px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0px;
  line-height: 0px;
  background-repeat: no-repeat;
  background-position: center;
}


.social-button:hover,
.social-button:focus {
  background-color: rgb(102, 158, 192);
}

.social-button:active {
  opacity: 0.3;
  background-color: rgb(84, 150, 189);
}

.footer-copyright {
  display: flex;
  flex-direction: row;
}

.footer-copyright p {
  padding-right: 1px;
  padding-top: 2px;
}

.button-tw {
  background-image: url("../img/twitter.svg");
}

.button-fb {
  background-image: url("../img/fb-icon.svg");
}

.button-yt {
  background-image: url("../img/youtube.svg");
}

.button-academy {
  padding-left: 4px;
  padding-top: 10px;
  width: 115px;
}

.button-academy svg {
  width: 115px;
  height: 41px;
}

.button-academy:hover svg path {
  fill: #81b3d2;
}

.button-academy:active svg path {
  fill: #bdbbbc;
}

/* Внутреняя страница */
.filter-form {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 28px;
  padding-bottom: 7px;
  background-image: url("../img/filterbackground.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: left;
}

.form-hotel-search {
  display: flex;
  justify-content: space-between;
}

.filter-form-checkbox {
  display: flex;
}

.checkboxes-section {
  margin-right: 120px;
}

.checkboxes-section label:before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: -30px;
  background-image: url("../img/checkbox-off.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.checkboxes-section input[type="checkbox"]:checked ~ label:before {
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.checkboxes-section-titie {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px;
}

.checkbox-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.checkbox-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 39px;
  margin-bottom: 25px;
}

.checkbox-item input {
  display: none;
}

.sort {
  padding-top: 7px;
}

.result {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}

.view-results {
  display: flex;
}

.found-results {
  margin-right: 50px;
}

.result p {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort {
  display: flex;
}

.sort p {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-left: -2px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.sort a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #dadada;
  border-bottom: 1px dashed rgb(129, 179, 210);
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.sort-result a {
  padding-right: 6px;
}

.catalog-price {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  line-height: 18px;
  list-style: none;
}

.catalog-price li {
  margin-right: 32px;
}

.catalog-price li .catalog-current {
  color: #81b3d2;
  border-bottom: none;
}

.sort-result svg path {
  fill: #cacaca;
}

.sort-result svg path:hover {
  fill: #000000;
}

.sort-result svg path:focus,
.sort-result svg path:active {
  fill: #81b3d2;
}

.hotel {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 25px;
  padding-bottom: 23px;
}

.hotel img {
  margin-right: 30px;
  margin-top: 4px;
}

.hotel-details {
  display: flex;
}

.hotel-info {
  text-align: left;
}

.hotel-info h3 {
  font-size: 21px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.hotel-info h3:hover {
  color: #81b3d2;
}

.hotel-info h3:active {
  color: #cacaca;
}

/*.hotel-price span {
  padding-right: 33px;
}*/

.details-btn {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  margin-right: 3px;
  margin-top: 12px;
}

.details-btn:hover {
  background-color: #669ec0;
}

.details-btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.booking-btn {
  width: 142px;
  height: 27px;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
  background-color: #766357;
  border: none;
}

.booking-btn:hover {
  background-color: #604e43;
}

.booking-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.rating-info {
  padding-top: 23px;
}

.hotel-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  text-align: center;
  color: #666666;
}

.rating-stars {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -19px;
  padding-bottom: 34px;
}

.stars {
  width: 23px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-position: center;
  background-repeat: space;
}

.inner-footer-container {
  display: flex;
  min-height: 120px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

.filter-range {
  width: 317px;

  color: #ffffff;
  text-transform: uppercase;
  box-sizing: content-box;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 16px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}